html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* I had a problem with the clicks on the buttons (has to do with bubbling). This article fixed it:
https://css-tricks.com/slightly-careful-sub-elements-clickable-things/ */

button > * {
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form input::placeholder {
  font-size: 1.5rem;
}

form button {
  color: darkgreen;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: white;
  background-color: darkgreen;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style-type: none;
  min-width: 30%;
}

.todo-item {
  padding: 10px 0;
  margin: 0.5rem;
}

.unchecked-todo-item {
  color: white;
}

.checked-todo-item {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2.5pt;
}

.check-item {
  /* margin-left: 20px; */
  color: darkgreen;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.check-item:hover {
  color: white;
  background-color: darkgreen;
}

.delete-item {
  color: red;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-item:hover {
  color: white;
  background-color: red;
}
